@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

// spectro-ux configurator
#s-ux-c {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul:not(.nav, .nav-tabs),
    li:not(.nav-item),
    p {
        all: initial !important;
        box-sizing: border-box !important;
    }

    * {
        transition: none !important;
        user-select: none !important;
    }

    font-family: Roboto, sans-serif !important;
    line-height: 20px !important;
    font-size: 14px !important;

    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    height: auto !important;
    pointer-events: none !important;
    z-index: 200000 !important;
    
    @import 'partials/loader';
}
